header {
background-color: #e8491d;
height: 100px;
top:0;
width:100%;


}

body {
background-color: gray;
height:100%;
margin:0;
padding:0;
width:100%;

}
footer {
  background-color: #e8491d;
  bottom:0;
  height: 50px;
  text-align: center;
  position:absolute;

  width:100%;
}
.flex-container {
  align-items: flex-end;
  display: flex;
  height: 40px;
  justify-content: flex-start;
}
