header {
border-bottom:#e8491d 3px solid;
background:#35424a;
font: 15px/1.5 Arial, Helvetica,sans-serif;height: 100px;
top:0;
width:100%;


}

body {
background-color: gray;

height:100%;
margin:0;
padding:0;
width:100%;

}

.card-selection {
  display: block;
  margin-top: 20px;
}

.card {
  margin: 10px;
  width: 16rem;
  text-align: center;
  background-color: #faf3dd;
}

.card-title {
  font-size: 1.6em;
}

.card-text {
  font-size: 1.2em;
}

.card-price {
  font-size: 1.4em;
}

footer {
  background:#35424a;
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  color: #e8491d;
  border-top:#e8491d 3px solid;
  bottom:0;
  height: 50px;
  text-align: center;
  position:absolute;

  width:100%;
}
.flex-container {
  align-items: flex-end;
  display: flex;
  height: 2px;
  justify-content: flex-end;
}
